[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
twine = "*"
autoflake = "*"
black = "==19.10b0"
isort = "*"
vulture = "*"
pytest-cov = "*"
tox = "==3.7.0"
tox-pipenv = "*"
mypy = "*"

[packages]
requests-oauthlib = "*"
pytz = "*"
